body {
    background-color: #de6a6a;
}

.container {
    max-width: 900px;
}

.tab-pane {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 20px;
    border-radius: 0 0 .25rem .25rem;
    background-color: #fff;
}

.nav-link.active {
    background-color: #000000 !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    color: #0d6efd !important;
}

textarea {
    font-family: monospace;
}